@charset "utf-8";
/* CSS Document */

.two-columns {
	width:100%;
	margin:50px auto;
	clear:both;
}
.col-one p,
.col-two p,
.col-three p,
.col-three-one p,
.col-three-two p,
.col-four p,
.col-five p,
.col-six p,
.col-seven p,
.col-eight p,
.col-nine p,
.col-ten p,
.col-eleven p,
.col-eleven-one p,
.col-twelve p {
	font-size:13px;
	color:rgb(102,102,102);
	text-align:left;
	position:relative;
	line-height: 20px;
}
.col-three-two {
	float:left;
	width:450px;
	margin-bottom:50px;
}

.col-one,
.col-two {
	width:48%;
	position:relative;
	float:left;
	display: block;
	margin: 0 4% 50px 0;
}
.col-two {
	float:right;
	margin-right: 0px;
}

.col-three,
.col-three-one,
.col-three-one-two {
	width:100%;
	position:relative;
	display: block;
	position:relative;
}
.col-three-one,
.col-three-one-two {
	margin-bottom:20px;
	margin-top:50px;
}

.col-four,
.col-five,
.col-six {
	width:30.6666%;
	float:left;
	display: block;
	position:relative;
	margin: 0 4% 50px 0;
}
.col-five {
	float:right;
	margin-right: 0px;
}
.col-seven,
.col-eight,
.col-nine,
.col-ten {
	width:22%;
	float:left;
	display:block;
	margin-bottom:50px;
	position:relative;
	margin: 0 4% 50px 0;
}
.col-eight {
	float:right;
	margin-right: 0px;
}
.col-eleven,
.col-eleven-one {
	width:74%;
	float:left;
	display:block;
	position:relative;
	margin: 0 4% 50px 0;
}
.col-twelve {
	width:65.3332%;
	float:left;
	display:block;
	margin-bottom:50px;
	position:relative;
	margin: 0 4% 50px 0;
}
.int-columns {
	font-size:15px;
	color:rgb(134,196,64);
	line-height:50px;
	text-align:left;
	text-transform:uppercase;
	letter-spacing: 1px;
}
